*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
}
body {
    font-family: sans-serif;
    font-size: 1.2rem;
}
.container{
    min-height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    background-color: rgb(2, 45, 2);
}
.box{
    /* height: 100px; */
    /* width: 100px; */
    background-size: cover;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222;
    background-blend-mode: hard-light;
    background-position: top;
    transition: all 0.5s ease-in-out;

}
.left-text{
    flex-basis: 30%;
}
.gallery{
    flex-basis: 50%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: 120px;
    gap: 8px;
}
.heading {
    font-size: 3rem;
    color: white;
    text-align: center;
    transition: all 1s;
}
.heading:hover{
    transform: translateY(-1.2rem);
}

.subheading {
    color: white;
    margin-top: 10px;
    text-align: center;
    transition: all 0.5s;
}
.subheading:hover{
    transform: translateY(-1.2rem);
}
.row-2{
    grid-row: span 2;
}

.col-2{
    grid-column: span 2;
}
.box:hover{
    background-color: #999;
    background-position: center;
    /* border-radius: 10%; */
    transform: scale(1.1);
}
@media (max-width: 1024px){
    .container{
        flex-direction: column;
        padding: 20px;

    }
    .gallery{
        flex-basis: auto;
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: 200px;
        width: 100%;
    }
    .row-2, .col-2 {
        grid-row: span 1;
        grid-column: span 1;
    }

    @media (max-width: 768px){
    .container{
        flex-direction: column;
        padding: 20px;

    }
    .gallery{
        flex-basis: auto;
        grid-template-columns: 1fr;
        grid-auto-rows: 200px;
        width: 100%;
    }
    .row-2, .col-2 {
        grid-row: span 1;
        grid-column: span 1;
    }
}